.about{
    margin-top: 70px;
    font-family:'Roboto Condensed', 'cwTeXYen', sans-serif;
}
.about-title{
    font-size: 36px;
    color: #000;
    line-height: 1.8;
    text-align: center;
}
.about-txt{
    display: flex;
    font-size: 22px;
    color: #000;
    line-height: 1.8;
    align-items: center;
    
    box-sizing: border-box;
    
    width: 100%;
}
.about-txt .space{
    background-image: url(../picture/dolphin.jpg);
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: calc(50% - 40px);
    height: 300px;
    box-sizing: border-box;
    margin: 20px;
}
.about-txt:nth-child(odd) .space{
    background-image: url(../picture/turtle.jpg);
    background-position: left;
}
.txt{
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    /* background: url(../picture/buy.jpg) no-repeat; */
}
.about-txt:nth-child(odd){
    flex-direction: row-reverse;
}