body{
    background: #E9F2F9;
}
.title{
    display: flex;
}
.title h2{
    font-size: 36px;
    margin: auto;
    font-family:'Noto Sans TC', sans-serif;
}
.row div img{
    width: 100%;
}
.announcement{
    width: 100%;
    background: url(pic/bg_wave_move.png) repeat;
    background-size: contain;
    background-position: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.announcement::before{
    content: '';
    background: url("../picture/fish_left.svg") no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    z-index: 999;
    top: 100px;
    left: 50px;

}
.announcement .title{
    letter-spacing: 1.5px;
    margin: 55px 0px 40px 0px;
    font-size: 28px;
    line-height: 1.5;
}
.announcement .txt button{
    padding: 15px 55px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
}
.announcement .txt button:focus{
    background-color: #5555EE;
    color: #fff;
}
.announcement .content{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 50px auto;

}
.announcement .content .item{
    width: 18%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    overflow: hidden;
}
.announcement .content .item img{
    width: 220px;
    height: 150px;
}
.announcement .content .item p{
    padding: 10px 5px;
    font-size: 14px;

}
.announcement .content .item h4{
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, .5);

}
.announcement .more{
    padding: 15px 50px;
    border-radius: 800px;
    border: 1px solid #5555EE;
    outline: none;
    color: #5555EE;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 100px;
    font-weight: 800;
}